[client]
port = 3306
socket = /tmp/mysql.sock

[mysqld]
user = mysql
socket = /tmp/mysql.sock
port = 3306

skip-name-resolve
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0

# Fine Tuning
key_buffer_size = 16M
max_allowed_packet = 16M
thread_stack = 192K
thread_cache_size = 8

myisam-recover-options = BACKUP
#max_connections = 100
#table_cache = 64
#thread_concurrency = 10

# Query Cache Configuration
query_cache_limit = 1M
query_cache_size = 16M

expire_logs_days = 10
max_binlog_size = 100M

innodb_file_per_table
innodb_use_native_aio = 0

