[Unit]
Description=Personal cloud containers
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/opt/personal-cloud/
Restart=always
ExecStartPre=-/usr/local/bin/docker-compose down
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose stop -t 5

[Install]
WantedBy=default.target

